@model IEnumerable<KursyOnline.Models.Lesson>
@{
    ViewData["Title"] = "Lekcje";
}

<h1>Lista Lekcji</h1>
<p><a asp-action="Create" class="btn btn-primary">Dodaj nową lekcję</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Tytuł lekcji</th>
            <th>Kurs</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Course.Title)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>